
{% extends "layout.html.twig" %}

  
      {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
      {% endblock %}


      {% block  image1%}
         <img class="img-fluid rounded mb-4 mb-lg-0"  src="/build/0e1a069cd4fe286c67ba851cd18e6a48.png" height="200" width="414" alt="">
      {% endblock %}



      {% block  contenu1%}
       <h1 class="font-weight-light"> About </h1>

        <p>La societé coronait, expérimentée dans la creation des logiciels dans le domaine de  l'informatique. Participe au développement avec la colaboration de ses contributeur pour mettre aux services de ses clients afin de resoudre les besoins.</p>

        <div class="progress">
          <div class="bar" style="width: 60%;"></div>
        </div>


      {% endblock %}




       {% block  contenu2%} 
       		 <h2 class="card-title">Développement</h2>
            <p class="card-text">Concevoir un projet complexe, ce n'est pas seulement mettre en oeuvre une technologie.
             Il s'agit de l'intégrer afin qu'elle soit pratique et nécessaire.</p>
      {% endblock %} 


       {% block  liencontenu2%}
       			
        <div class="progress">
          <div class="bar" style="width: 60%;"></div>
        </div>

       {% endblock %} 



       {% block  contenu3%} 
       		 <h2 class="card-title">Realization</h2>
            <p class="card-text">Avant de la réalisation du vos projets. Nous sommes ravi de le structurer,organiser et  planifier.En premier lieu, l’analyse des besoins permet d’établir la ou les problématiques et les contraintes. 
            </p>
        {% endblock %} 



        {% block  liencontenu3%} 
                <div class="progress">
                  <div class="bar" style="width: 60%;"></div>
                </div>
          {% endblock %} 


         {% block  contenu4%} 
         	<h2 class="card-title">Suive Client</h2>
            <p class="card-text">Depuis le premier contact avec nos clients jusqu’à la conclusion du développement. 
            Corana it est toujours  à la disposition. Il est important pour notre entreprise puisqu’il nous impacte directement. 
          </p>

          {% endblock %} 

          {% block  liencontenu4%} 
                  <div class="progress">
                    <div class="bar" style="width: 60%;"></div>
                  </div>
           {% endblock %} 





   {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
  {% endblock %}
