
{% extends "layout.html.twig" %}




  
      {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
      {% endblock %}




      {% block  image1%}
            <img  src="/build/07edbba3d6648da47bd7a11ceb186acb.png" height="200" width="414">
      {% endblock %}

      {% block  contenu1%}
       <h1 class="font-weight-light">Confiez nous votre projet</h1>


      <p> Pour cela faites confiance à notre grande expérience de développeurs web professionnels. Nous avons déjà pu mettre nos compétences au service de nombreux projets pour aider à la réalisation des souhaits de nos clients.
      </p>


        <div class="progress">
          <div class="bar" style="width: 60%;"></div>
        </div>

      {% endblock %}




       {% block  contenu2%} 
       		 <h2 class="card-title">Développement</h2>
            <p class="card-text">Concevoir un projet complexe, ce n'est pas seulement mettre en oeuvre une technologie.
             Il s'agit de l'intégrer afin qu'elle soit pratique et nécessaire.</p>
      {% endblock %} 


       {% block  liencontenu2%}
       			
        <div class="progress">
          <div class="bar" style="width: 60%;"></div>
        </div>

       {% endblock %} 



       {% block  contenu3%} 
       		 <h2 class="card-title">Réalisation</h2>

            <p class="card-text">
            Avant de réaliser vos projets nous les structurerons et les organiserons en réalisant une analyse fine des besoins pour définir les problématiques et contraintes. 
            </p>

        {% endblock %} 



        {% block  liencontenu3%} 
                <div class="progress">
                  <div class="bar" style="width: 60%;"></div>
                </div>
          {% endblock %} 


         {% block  contenu4%} 
         	<h2 class="card-title">Suivi client</h2>

            <p class="card-text">
                Dès le premier contact avec nos clients et jusqu’à la conclusion du développement Corana it sera toujours à votre disposition. La réussite de votre projet est au cœur de nos priorités.
           </p>

          {% endblock %} 

          {% block  liencontenu4%} 
                  <div class="progress">
                    <div class="bar" style="width: 60%;"></div>
                  </div>
           {% endblock %} 





   {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
  {% endblock %}
