
{% extends "layout.html.twig" %}

      {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
      {% endblock %}




      {% block  image1%}
        <h2 class="card-title">Méthodologie agile</h2>
           <img  src="/build/76eb8fc6a3c69bc78f045146d32683d7.jpg" height="200" width="414">
      {% endblock %}




      {% block  contenu1%}
       <h1 class="font-weight-light">Participation à la construction du programme</h1>


      <p> Création des interfaces web.<br/>
        Adaptation des ressources web.<br/>
        Développement des Api Rest.<br/>
        Migration de projet vers de nouvelles technologies.</p>

        <div class="progress">
          <div class="bar" style="width: 60%;"></div>
        </div>


      {% endblock %}



       {% block  contenu2%} 
       		 <h2 class="card-title">Symfony</h2>
           <img  src="/build/7a42c88e8a6f87563cf30af544989bd0.svg" height="80%" width="80%">
        {% endblock %} 


       {% block  liencontenu2%}
       			
        <div class="progress">
          <div class="bar" style="width: 60%;"></div>
        </div>

       {% endblock %} 

       {% block  contenu3%} 
           <h2 class="card-title">Design Patterns</h2>
           <img  src="/build/7185f7fc6f6e982fcb942db289d3f91f.jpg" height="80%" width="80%">
        {% endblock %} 

        {% block  liencontenu3%} 
                <div class="progress">
                  <div class="bar" style="width: 60%;"></div>
                </div>
          {% endblock %} 

         {% block  contenu4%} 
           <h2 class="card-title">Derniere Technologie</h2>
           <img  src="/build/2cc3f3fa28677f6d82897642c4bc662e.png" height="50%" width="80%">

          {% endblock %} 

          {% block  liencontenu4%} 
                  <div class="progress">
                    <div class="bar" style="width: 60%;"></div>
                  </div>
           {% endblock %} 





   {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
  {% endblock %}
