<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %} {% endblock %}</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

        {% block stylesheets %}
         {{ encore_entry_link_tags('home') }}
        {% endblock %}

</head>

<body>

  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="/build/861fe25c2756d7c4cb05af50a80ee476.mp4" type="video/mp4">
  </video>

  <div class="masthead">
    <div class="masthead-bg"></div>
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-12 my-auto">
          <div class="masthead-content text-white py-5 py-md-0">
            <h1 class="mb-3">
               <img  src="/build/a9d970ef38a9729844def41e34ff5984.png" style="width: 10%; height: 10%;">
                coronait
            </h1>
            <p class="mb-5"> 
              Initiation et gestion de  projet.<br/>
              Migration de projet  vers de nouvelles technologies.<br/>
              Ajout et création  de nouvelles fonctionnalités.<br/>
            </p>
              <strong></strong>
            <div class="input-group input-group-newsletter">

              <button type="button" class="btn btn-light">
               <a  class="btn btn-light" href="{{ path('app_accueil') }}"> <i class="fas fa-power-off"></i></a>
              </button>
    
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="social-icons">
    <ul class="list-unstyled text-center mb-0">
      <li class="list-unstyled-item">
        <a href="https://gitlab.com/dashboard/projects" target="_blank">
          <i class="fab fa-gitlab"></i>
        </a>
      </li>
      <li class="list-unstyled-item">
        <a href="https://www.instagram.com/corona__it/" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
    </ul>
  </div>

  {% block javascripts %}
      {{ encore_entry_script_tags('home') }}
  {% endblock %}

</body>

</html>
